<div class="container">
  <div class="row">
    <div class="col-sm-5">
      <ul>
        <li *ngFor="let order of orders">
          <div>
            Id: {{order.get().id}} Name: {{order.get().name}} Value: {{order.get().value}}
          </div>
          <button (click)="remove(order.get().id)">x</button>
        </li>
      </ul>
    </div>

    <div class="col-sm-5">
      <ul>
        <li *ngFor="let order of ordersRecords">
          <div>
            {{order}}
          </div>
        </li>
      </ul>
    </div>

    <div class="col-sm-2">
      <input type="text" [(ngModel)]="text"/>
      <button (click)="send()">send</button>
      <input type="text" [(ngModel)]="update"/>
      <button (click)="sendUpdate()">update</button>
      <p>Errors: {{ordersService.errors}}</p>
      <p>Sequence: {{ordersService.sequence}}</p>
      <p>Server size: {{ordersService.serverSize}}</p>
      <p>Client size: {{orders.length}}</p>
      <button (click)="pubnubTest()">pubnub</button>
    </div>
  </div>
</div>